[submodule "external/ipfs_datasets"]
	path = external/ipfs_datasets
	url = https://github.com/endomorphosis/ipfs_datasets
[submodule "external/ipfs_kit"]
	path = external/ipfs_kit
	url = https://github.com/endomorphosis/ipfs_kit
[submodule "external/ipfs_accelerate"]
	path = external/ipfs_accelerate
	url = https://github.com/endomorphosis/ipfs_accelerate
