[submodule "external/ipfs_datasets"]
	path = external/ipfs_datasets
	url = https://github.com/endomorphosis/ipfs_datasets
[submodule "external/ipfs_kit"]
	path = external/ipfs_kit
	url = https://github.com/endomorphosis/ipfs_kit
[submodule "external/ipfs_accelerate"]
	path = external/ipfs_accelerate
	url = https://github.com/endomorphosis/ipfs_accelerate
[submodule "external/meta-wearables-dat-android"]
	path = external/meta-wearables-dat-android
	url = https://github.com/facebook/meta-wearables-dat-android
[submodule "external/meta-wearables-dat-ios"]
	path = external/meta-wearables-dat-ios
	url = https://github.com/facebook/meta-wearables-dat-ios
